[2021-06-04 05:09] Anupam-Panwar opened #1 "Missing Favicon"
* Favicon is missing
* It is a great way to customize the website

![image](https://user-images.githubusercontent.com/65714751/120748880-1dd4a580-c521-11eb-908b-e51d93ee5c5b.png)

* I would like to work on this

[2021-06-04 13:31] vanishasamriddhi opened #2 "Missing Nav-Bar"
- Navigation-Bar is missing
-  With the help of navigation bar, the website would have a customized and would look more appealing
- I would like to work on it.

[2021-06-04 14:31] vanishasamriddhi opened #4 "Footer"
- Adding Footer would help visitor to reach out to developer
- I would like to work on it.

[2021-06-05 11:04] Aiswarika opened #6 "Making the site responsive"

[2021-06-05 11:09] #6 closed

[2021-06-05 19:34] ShwetKhatri2001 opened #9 "Adding Card structure with transitions and animations for details"
It's better to make a card type structure with some animations and transitions to improve user interface demonstrating mission details.

I would like to work on this issue during LGM-SOC contribution period.

[2021-06-06 07:46] manognyaa opened #11 "adding rocket fltying animation"
hello sir,
I think in the website the background should be filled with flying rocket as the concept is all about space. I will be using css. I would like to work on this issue. please assign this issue to me @manankohlii @jigar-sable

[2021-06-06 09:40] Ishigupta08 commented on #9
@ShwetKhatri2001  can more than one work on the issue?

[2021-06-06 09:56] Ishigupta08 opened #13 "designing about page"
i will be designing an about page for this as without about page user is not clear is what the website is for. i will be using css on to it. with preferly blue colour and purple colour.plzz assign me with this issue

[2021-06-06 10:30] Ishigupta08 opened #14 "validation of mission number"
mission number in search box should always take number as input not any alphabet as far as i know . so we can use validation while takin g input and display alert on entering alpahabet. i would like to work on this.

[2021-06-06 10:51] Ishigupta08 commented on #14
did your project bascially focuses onproviding mission details or other functionality other than this can be added?

[2021-06-06 10:58] Ishigupta08 opened #15 "logo designing of our website"
@manankohlii A particular logo should be common on our website. would like to design it.

[2021-06-06 11:04] Ishigupta08 opened #16 "Name of the website"
@manankohlii have you already selected your website name means spacex data?

[2021-06-06 12:38] ShwetKhatri2001 commented on #9
I have some ideas and want to implement them first , may be once I done that then you can also enhance this issue

[2021-06-06 15:59] raunak51299 opened #17 "Checking if the mission number is valid"
If the mission number is negative or more than the number of missions done by spacex it should show **Invalid Mission Number**

![image](https://user-images.githubusercontent.com/27999592/120931157-0c042580-c70e-11eb-924d-d64dae167126.png)
![image](https://user-images.githubusercontent.com/27999592/120931129-e9720c80-c70d-11eb-961a-163f44408d63.png)

I would like to work on this issue under LGM SO

[2021-06-06 16:14] raunak51299 commented on #17
I just realised this issue is already created.

[2021-06-06 16:14] #17 closed

[2021-06-06 16:17] Aniket979Kanodia opened #18 "Label the details shown regarding mission"
It would me more informative if we add label to details shown regarding various missions.

[2021-06-06 16:21] Aniket979Kanodia commented on #18
I would like to work on this project.
Please assign me when coding period start.

[2021-06-06 16:27] Ishigupta08 commented on #9
Oky sure, give it a try

[2021-06-06 17:21] raunak51299 opened #19 "Adding trigger button functionality"
I would like add the functionality of searching the mission when the Enter key is pressed.
Please assign me this issue under LGM SOC.

[2021-06-07 03:28] manankohlii commented on #11
Okay @manognyaa give it a try! We'll see what we can do.

[2021-06-07 03:29] manankohlii commented on #13
Okay @Ishigupta08 give it a try! We'll see what we can do.

[2021-06-07 03:31] manankohlii commented on #14
Yes @Ishigupta08 you can work on the mission number validation part.

[2021-06-07 03:33] manankohlii commented on #19
@raunak51299 assigned.

[2021-06-07 04:02] manankohlii commented on #14
Please do the same for negative numbers as well

[2021-06-07 05:10] Ishigupta08 commented on #15
@manankohlii In this website, we only have to give details of mission or we can extend it to make related to space.

[2021-06-07 05:45] manankohlii commented on #15
This project was initially made just with this purpose but we can always improve upon it! If you have suggestions feel free to present them here.

[2021-06-07 05:50] manankohlii commented on #18
@Aniket979Kanodia I am assigning you the issue, you can make the PR when LGMSoC starts!

[2021-06-07 05:54] Aniket979Kanodia commented on #18
Thank you for assigning me this issue.
Is there any slack or discord group available which I can connect for discussion.

[2021-06-07 07:05] manognyaa commented on #11
thank you sir

[2021-06-07 07:15] Jagannath8 commented on #13
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-07 07:16] Jagannath8 commented on #2
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-07 07:17] Jagannath8 commented on #15
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-07 07:32] vanishasamriddhi commented on #2
Jagannath8 I'm already working on it, and I'm also LGM Soc21

[2021-06-07 09:43] Ishigupta08 commented on #13
I am working over it...and if faces any problem then you can come up

[2021-06-08 05:17] Kartikey0205 opened #20 "Make website responsive"
As you can go and inspect this web page and you will find that it is not purely responsive below 350px  and will do other thing as well if you suggest something !!
please assign me  this project under LGM-soc!!

@manankohlii please assign me this

/ assign

[2021-06-08 05:28] manankohlii commented on #20
Hello @Kartikey0205 I am assigning you the issue, for now just focus on this! And a suggestion would be to keep issue titles brief so that one can get an overview easily.

[2021-06-08 15:42] nitishapiplani commented on #20
Hey I would like to work on this under lgm SoC plzz assingn it to me if possible
Discord name nitisha piplani

[2021-06-08 15:43] nitishapiplani commented on #4
I would like to work on it

[2021-06-08 15:44] nitishapiplani commented on #9
I would like to work on this issue

[2021-06-08 16:08] jigar-sable opened #22 "Changing button design"
I would like to add pointer cursor on button. Enhance Input Field and Button Design.
Add new animation to button on hover.
Trigger function to show result as we hit enter.
Please assign me this issue under LGM SOC'21.

[2021-06-08 18:02] RakeshCharpe commented on #16
can I work on this issue ? and can you elaborate the issue ...

[2021-06-08 18:07] manankohlii commented on #16
Hello, this issue does not need any work right now. The project was made with the purpose of getting data regarding SpaceX launches so the name for now will remain the same. I am closing the issue.

[2021-06-08 18:08] #16 closed

[2021-06-08 18:09] RakeshCharpe commented on #16
Okay!!!

[2021-06-08 18:10] manankohlii commented on #22
Hello @jigar-sable , I am making this issue about changing the button design, so you can focus just on that right now. Try to make the button border look even. Thanks!

[2021-06-08 18:12] manankohlii commented on #20
Hello @nitishapiplani , the issue has been already assigned for now, if there are changes required after some time, we can have multiple people working on it.

[2021-06-08 18:13] manankohlii commented on #18
Yes please join the slack channel for this project through the LGMSoC workspace in the announcements section!

[2021-06-09 10:28] harshita9621 commented on #4
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:28] harshita9621 commented on #2
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:29] harshita9621 commented on #22
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 10:29] harshita9621 commented on #19
Hii, I would like to work on this issue as LGM SOC'21 participant from June 10. Do assign me if possible. Thank You!

[2021-06-09 12:55] cnu1812 commented on #4
I would like to work on it...

[2021-06-09 12:57] cnu1812 commented on #14
I would like to work on it...

[2021-06-09 15:19] Ishigupta08 commented on #14
I am working on it..if face issue then you can

[2021-06-09 16:39] aktamoli0910 commented on #22
Hi, Iwould like to work on this issue under LGM SOC'21. Thank You.

[2021-06-09 16:39] aktamoli0910 commented on #22
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-09 16:41] aktamoli0910 commented on #20
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-09 16:42] aktamoli0910 commented on #9
Hi, I would like to work on this issue under LGM SOC'21. Thank You.

[2021-06-09 17:49] Rishita11 opened #23 "Sign Up/Sign In Page"
I would like to work on this under LGM-SOC 21. I plan to add a sign-up and sign-in page for the user to keep track of their search history of any related data or add a "bookmark option" to mark anything important. Please assign me this @manankohlii.

[2021-06-09 17:56] manankohlii commented on #23
Hello @Rishita11 there is no need for such a feature right now, maybe you could contribute in some other way in a later issue. Thanks!

[2021-06-09 17:56] #23 closed

[2021-06-09 17:59] manankohlii commented on #19
@harshita9621 if the issue is not resolved in a few more days by the assignee, you may work on it.

[2021-06-09 18:11] harshita9621 commented on #19
Okay @manankohlii

[2021-06-09 18:45] Sukhseerat-Kaur commented on #22
Hey.. I would like to work on this issue as a participant in LGM SOC'21.

[2021-06-09 20:10] manankohlii commented on #19
I am closing this issue as it has been resolved.

[2021-06-09 20:10] #19 closed

[2021-06-09 20:42] #9 closed

[2021-06-10 03:53] PranavChauhan22 opened #27 "Designing login page"
I want to design the login page for website.
Please assign me this issue under lgm-soc participant.

[2021-06-10 03:55] PranavChauhan22 opened #28 "Adding signup page"
I want to add the signup page for website.
Please assign me this issue under lgm-soc participant.

[2021-06-10 04:24] #22 closed

[2021-06-10 04:31] #18 closed

[2021-06-10 06:03] Tejaswika opened #31 "Adding the Launching Event Images"
Images Section can have:-

- Images of scientists
- Image of rocket launched

[2021-06-10 06:03] Tejaswika commented on #31
Assign me this under LGMSOC

[2021-06-10 07:17] cnu1812 commented on #1
added favicon

[2021-06-10 07:43] PadminiRai opened #35 "NASA’s First Commercial Lunar Payload Services Mission"
I'd like to work on this mission , under the label **LGMSOC21** .

[2021-06-10 08:57] SanjeevKumar22 opened #36 "Button Style andPage Mode"
Night Mode additon
Neon Button Styling

[2021-06-10 09:12] ambivert-sam commented on #15
Hey, @Ishigupta08 I'm a participant of LGMSOC'21 ​I would like to contribute to this issue will you please assign it to me

[2021-06-10 09:14] ambivert-sam commented on #15
Would like to contribute to this issue as a participant of LGM Soc21.

[2021-06-10 09:22] jayant766 commented on #4
Please assign me this issue under LGMSOC'21

[2021-06-10 09:28] cnu1812 opened #37 "Testimonial Section"
Let's add a testimonial section. Assign me under LGM.

[2021-06-10 11:21] asdsyd commented on #15
Would like to work on this issue as a participant of LGM SoC 21.

[2021-06-10 12:00] raunak51299 opened #38 "Adding mission patch images"
- I would like to add a small mission-patch image beside every mission.
- Like this:
![image](https://user-images.githubusercontent.com/27999592/121521275-80daa680-ca11-11eb-83ab-76b0e0f0957d.png)
Please assign me this issue under LGM-SOC

[2021-06-10 13:04] ishitakapoor26 opened #39 "Added Hovering and Text-Shadow Effect on Buttons"
Hovering effect added in Search, View Full Article and Watch Launch buttons.

[2021-06-10 13:24] manankohlii commented on #35
@PadminiRai this issue is not relevant.

[2021-06-10 13:24] #35 closed

[2021-06-10 13:26] manankohlii commented on #36
@SanjeevKumar22 is this under LGMSOC?

[2021-06-10 13:26] manankohlii commented on #38
@raunak51299 sure go ahead

[2021-06-10 13:27] manankohlii commented on #37
@cnu1812 please elaborate.

[2021-06-10 13:27] SanjeevKumar22 commented on #36
Yes

[2021-06-10 13:27] ishitakapoor26 commented on #39
@manankohlii pls assign this issue to me.

[2021-06-10 13:29] Ishigupta08 opened #40 "Current people on space"
If we can know the curee t people who are in space using API. If it is oky as oer your project will like to work on it.

[2021-06-10 13:31] SanjeevKumar22 commented on #36
Yes I m in lgmsoc 21

[2021-06-10 13:43] manankohlii commented on #36
Okay @SanjeevKumar22 give it a try.

[2021-06-10 13:46] manankohlii commented on #20
@Kartikey0205 please resolve the issue asap, and check for changes in the master branch.

[2021-06-10 13:47] manankohlii commented on #28
This issue is not relevant at the moment.

[2021-06-10 13:48] manankohlii commented on #2
@vanishasamriddhi take one more day else will have to assign someone else. You could work on some other issue.

[2021-06-10 13:49] manankohlii commented on #27
Issue not relevant at the moment.

[2021-06-10 13:49] #28 closed

[2021-06-10 13:49] #27 closed

[2021-06-10 13:51] manankohlii commented on #31
This feature will be added in another section of the website, not relevant at the moment.

[2021-06-10 13:51] #31 closed

[2021-06-10 13:52] manankohlii commented on #39
Okay @ishitakapoor26 give it a try. Search button already has hover effect, maybe do the same for the other buttons.

[2021-06-10 13:59] manankohlii commented on #40
This may be a feature in another section of the website, not relevant at the moment.

[2021-06-10 13:59] #40 closed

[2021-06-10 14:01] manankohlii opened #42 "particles.js in background"
Try to add a dynamic particles.js background with a colour related to the mission detail card structure.

[2021-06-10 14:07] manankohlii opened #43 "shields.io features"
Updating README.md with shields.io for Pull Requests, Issue and any other relevant information.

[2021-06-10 14:17] Kartikey0205 commented on #20
Sure @manankohlii

[2021-06-10 14:29] abhijeet141 commented on #42
I would like to work on this issue please assign me

[2021-06-10 14:33] ishitakapoor26 commented on #39
@manankohlii pls review my pr #41. I've added hovering effect pls check.

[2021-06-10 14:36] raunak51299 opened #45 "Replacing the background image with a higher resolution one."
I would like to work on this issue under LGM SOC.

[2021-06-10 14:37] raunak51299 commented on #42
I would like to work on this issue.

[2021-06-10 14:41] manankohlii commented on #39
@ishitakapoor26 your PR is not up to date with the master branch. Please make changes accordingly.

[2021-06-10 14:42] manankohlii commented on #42
@abhijeet141 take a day. After that @raunak51299 comment here to get assigned.

[2021-06-10 14:43] manankohlii commented on #45
Issue #42 deals with this. Closing this one.

[2021-06-10 14:43] #45 closed

[2021-06-10 14:44] ishitakapoor26 commented on #39
sorry i didn't get u?

[2021-06-10 14:45] manankohlii commented on #4
@vanishasamriddhi take one more day, else will have to assign someone else.

[2021-06-10 14:47] manankohlii commented on #15
@Ishigupta08 take one more day, else will have to assign someone else.

[2021-06-10 14:56] manankohlii commented on #43
Shields.io](https://shields.io/)

[2021-06-10 14:56] manankohlii commented on #43
https://shields.io/

[2021-06-10 14:59] ShwetKhatri2001 commented on #43
I would like to work on this issue under LGM-SOC.

[2021-06-10 15:04] manankohlii commented on #43
@ShwetKhatri2001 assigned.

[2021-06-10 15:22] Ishigupta08 commented on #15
Sure

[2021-06-10 15:38] marizvi commented on #1
Hi,
I have generated a pull request after working on this issue, kindly go through it and let me know if any changes required.

[2021-06-10 15:42] marizvi commented on #1
And I am sorry,
I didn't knew that we have to first ask before working on any issue, I thought it will be like first come first serve.
Kindly accept my pull request this time, from now onwards I will be taking care of it.

[2021-06-10 15:47] marizvi commented on #1
I am already a member of LGM SOC'21

[2021-06-10 16:12] naveen8801 opened #48 "Adding Issue & PR templates"
There is no issue & PR template in this repo, these templates help in better understanding of new issues & PRs.

I'd like to work on it as an LGM SOC participant, please assign it to me :))

[2021-06-10 16:17] manankohlii commented on #1
@marizvi no problem be careful next time.
Issue resolved, closing this.

[2021-06-10 16:17] #1 closed

[2021-06-10 16:23] manankohlii commented on #48
@naveen8801 go ahead.

[2021-06-10 16:38] Kartikey0205 commented on #20
@manankohlii you may close this issue as this issue is solved .
(made website completely responsive! #46)

[2021-06-10 16:40] #20 closed

[2021-06-10 16:58] #48 closed

[2021-06-10 19:29] Ishigupta08 commented on #43
What this issue means?

[2021-06-10 19:35] manankohlii commented on #39
Issue resolved. Closing.

[2021-06-10 19:35] #39 closed

[2021-06-11 01:47] harshita0802goswami opened #51 "Adding light/dark mode to the website"
## Describe the bug/feature
It will change to dark or light mode on hovering the toggle buttons

[2021-06-11 02:57] SanjeevKumar22 opened #52 "Add contributors to readme"
## Describe the bug/feature
Readme update

## To Reproduce

addition of contributor in readme section
## Expected behavior

help to know about the contribution

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):

- OS:Windows
- Browser:Chrome

## Additional context

Add any

[2021-06-11 03:42] manankohlii commented on #51
Issue already exists #36

[2021-06-11 03:42] #51 closed

[2021-06-11 03:43] manankohlii commented on #52
@SanjeevKumar22 go ahead.

[2021-06-11 03:53] harshita0802goswami commented on #36
Pls assign this issue to me

[2021-06-11 04:08] manankohlii commented on #36
@harshita0802goswami issue already assigned. Check after 1-2 days if issue not resolved.

[2021-06-11 04:29] cnu1812 commented on #37
@manankohlii  Testimonial section is basically the user can give their feedback about our website. The top feedbacks are stored in this section. example [https://assets.justinmind.com/wp-content/uploads/2020/11/testimonial-examples-testimonial-ui.png](url).

[2021-06-11 05:02] #38 closed

[2021-06-11 05:04] Yash-Sakre opened #53 "Add CODE_OF_CONDUCT.md file"
## Describe the bug/feature

This is the Code of conduct which reflects a good reflection of this repository.

I am a LGM-SOC participant. Please assign this issue to me.

[2021-06-11 05:06] manankohlii commented on #53
@Yash-Sakre assigned.

[2021-06-11 07:28] Ishigupta08 commented on #15
[
![Screenshot_20210611-125439_WhatsApp](https://user-images.githubusercontent.com/78248931/121648019-aa004300-cab4-11eb-91a4-75e65fb28809.jpg)
](url)

[2021-06-11 07:28] Ishigupta08 commented on #15
![Screenshot_20210611-125432_WhatsApp](https://user-images.githubusercontent.com/78248931/121648072-b7b5c880-cab4-11eb-8bb9-d550fdf7f033.jpg)

[2021-06-11 07:28] #15 closed

[2021-06-11 07:29] Ishigupta08 commented on #15
![20210611_121626](https://user-images.githubusercontent.com/78248931/121648197-de73ff00-cab4-11eb-8026-1d0db3b4ab7f.jpg)

[2021-06-11 07:29] Ishigupta08 commented on #15
@manankohlii

[2021-06-11 07:34] manankohlii commented on #15
Hello @Ishigupta08 this is not what I have in mind right now, logos are basically small maybe used to go to the home page when on mobile. Will open this issue in the future when required.

[2021-06-11 07:56] #43 closed

[2021-06-11 08:06] nKeiros13 opened #56 "Back-to-Top button"
Hi! I'm a new web developer and I want to contribute to this project by making a Back-to-Top button. It will be simple with few HTML, CSS and JS code.
I want to add this feature since I believe this site will grow tremendously in the next few months and when the contents increase, it would be necessary to implement a back-to-top button.
I also believe it would be helpful to create a page which wil

[2021-06-11 08:13] manankohlii commented on #56
Hello @nKeiros13 the feature you are suggesting is surely necessary, but not as of now maybe sometime in the future when there are new features added. You could think of contributing in some other way!

[2021-06-11 08:13] #56 closed

[2021-06-11 08:14] harshita0802goswami opened #57 "Add page icon on the website"

[2021-06-11 08:40] nKeiros13 commented on #56
Hey @manankohlii, thank you for your quick feedback. I just wanted to add this feature before the site became more dynamic but okay. I also wanted to enquire about the api you're using since it's giving a huge JSON file. I think instead of using that, you should use 'https://github.com/r-spacex/SpaceX-API/tree/master/docs/v4' this api since you can use the axioms and other to get better results. J

[2021-06-11 09:32] Umesh-01 opened #59 "Add a LICENSE file"
## Describe the bug/feature
There is no license, it is good for an open source project to have a license.

## Expected behavior
A license like MIT License should be there...

## Environment (please complete the following information):

- OS: Windows
- Browser: Google Chrome

[2021-06-11 09:32] Umesh-01 commented on #59
@manankohlii Should I work on this Issue??

[2021-06-11 09:52] Umesh-01 opened #60 "Badges problem in main README.md file"
## Describe the bug/feature

Some badges are not working what they are intended to do.
![image](https://user-images.githubusercontent.com/83420185/121667348-cfe31300-cac7-11eb-9a5c-b6007c3db88a.png)

For example, if I am clicking on the issues badge it is not taking us to the issues page but it should.

## Expected behavior

There must be links so that anyone can go to the related web pages after

[2021-06-11 09:52] Umesh-01 commented on #60
@manankohlii Should I work on this issue??

[2021-06-11 10:06] manankohlii commented on #60
Okay go ahead @Umesh-01

[2021-06-11 10:14] ishitakapoor26 opened #61 "Add Contact Us Section"
Contact Us section not available.

[2021-06-11 10:15] ishitakapoor26 commented on #61
@manankohlii pls assign this issue to me.

[2021-06-11 10:23] #60 closed

[2021-06-11 10:25] ishitakapoor26 commented on #61
@manankohlii pls review my pr.

[2021-06-11 10:29] manankohlii commented on #4
A simple footer with developer's LinkedIn and GitHub account to be added.

[2021-06-11 10:31] #61 closed

[2021-06-11 10:51] anushruti11 commented on #4
I would like to work on it.

[2021-06-11 11:01] Umesh-01 commented on #4
@manankohlii Should I work on this??

[2021-06-11 11:15] #42 closed

[2021-06-11 11:19] manankohlii commented on #4
@anushruti11 sure go ahead.

[2021-06-11 11:48] jigar-sable commented on #52
@manankohlii please assign me this issue to add contributors to readme.
### I'd done with this changes.

![image](https://user-images.githubusercontent.com/64949957/121681534-94047980-cad8-11eb-8b6a-789c802e12ee.png)

**Should it be in tabular format or it's okay with design above!**

[2021-06-11 12:38] #53 closed

[2021-06-11 12:39] manankohlii commented on #52
This looks good @jigar-sable . Go ahead and make the PR.

[2021-06-11 12:44] manankohlii commented on #52
@jigar-sable can you also add shields.io features for closed issues and PR's as well?

[2021-06-11 12:53] jigar-sable commented on #52
Sure @manankohlii I'll add those too and make the PR.

[2021-06-11 12:55] Umesh-01 commented on #4
@manankohlii pls checkout my PR for this issue...

[2021-06-11 12:59] Umesh-01 commented on #4
Ooh sorry @anushruti11
I started working after seeing that label **"up for grab"** , I was not aware that now it is assigned to u @anushruti11

[2021-06-11 13:01] Umesh-01 commented on #4
What should I do now??
Should I close my PR??
@manankohlii sir

[2021-06-11 13:04] manankohlii commented on #4
Yes @Umesh-01 close it, be careful next time :)

[2021-06-11 13:07] manankohlii commented on #52
If @SanjeevKumar22 does not respond by the end of the day, make the PR. But next time wait for the issue to be assigned to you.

[2021-06-11 13:17] #4 closed

[2021-06-11 13:18] manankohlii commented on #59
@Umesh-01 Issue resolved. Closing.

[2021-06-11 13:18] #59 closed

[2021-06-11 13:19] #2 closed

[2021-06-11 13:21] manankohlii commented on #11
@manognyaa there have been a lot of changes in the master. If you are still working on this comment within a day with what you want to do else will have to close/ assign someone else!

[2021-06-11 13:26] manognyaa commented on #11
Yes sir,
I am working on it. About to finish within the hour. Pls don't mind sir
@manankohli

On Fri, 11 Jun 2021, 6:51 pm Manan Kohli, ***@***.***> wrote:

[2021-06-11 13:43] SanjeevKumar22 commented on #52
I already made PR

[2021-06-11 15:40] #52 closed

[2021-06-11 15:44] #37 closed

[2021-06-12 09:20] jigar-sable opened #70 "Arrange Code Structure"
## Describe the bug/feature
Feature

## To Reproduce
Arrange all files in proper way i.e. javascript code files in js folder same for the images and assests.

## Expected behavior
It will structured the program well.

## Logs
NA

## Environment (please complete the following information):
- OS: Windows
- Browser: Chrome

## Additional context
NA

[2021-06-12 09:53] jatinjain001 commented on #11
I would like to work on   it kindly assign it to me please

[2021-06-12 09:53] jatinjain001 commented on #13
I would like to work on it kindly assign to me please

[2021-06-12 13:01] manankohlii commented on #70
@jigar-sable go ahead!

[2021-06-12 14:08] #70 closed

[2021-06-13 05:52] ShwetKhatri2001 opened #72 "Showing Launch video as popup"
## Describe the bug/feature
We can show Launch video as popup onclick to button 'Watch Launch'

## To Reproduce
This can be implemented by making a pop-up page having video of launch which opens onclick to button and closes on click to area outside the videobox

@manankohlii Assign this issue during LGM-SOC contribution period.

[2021-06-13 13:27] Jagannath8 commented on #57
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 13:31] Jagannath8 opened #73 "Improve footer design"
I want to improve the footer design.
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 16:14] manankohlii commented on #73
@Jagannath8 sure have a go at it.

[2021-06-14 07:38] #73 closed

[2021-06-14 08:20] abhijeet141 opened #75 "Social Media icons should open in new tab on clicking"
## Describe the bug/feature
Social Media icons should open in new tab on clicking now it is opening in same parent frame

## To Reproduce
I will add target="_blank" so that links will open in new tab

[2021-06-14 08:21] abhijeet141 commented on #75
Please assign me

[2021-06-14 09:06] manankohlii commented on #75
@abhijeet141 go ahead.

[2021-06-14 09:22] asdsyd commented on #13
Hi, I would like to work on it as LGMSOC21 participant.

[2021-06-14 13:20] #75 closed

[2021-06-14 16:00] raunak51299 commented on #72
Can I work on this issue under LGM SOC?

[2021-06-14 16:01] abhijeet141 opened #77 "I would like to add a navigation bar"
## Describe the bug/feature
The navigation bar will be like three line and when we will click on it the nav bar will open

## To Reproduce
I would try to add it using bootstrap

[2021-06-14 16:01] abhijeet141 commented on #77
@manankohlii Please assign me this issue

[2021-06-14 16:05] manankohlii commented on #77
@abhijeet141 okay give it a try, for now put the options as Launches, Rockets and Cores

[2021-06-14 16:06] manankohlii commented on #72
@ShwetKhatri2001 assigning you for now.

[2021-06-14 16:07] manankohlii commented on #57
Okay @Jagannath8 give it a try.

[2021-06-14 16:08] abhijeet141 commented on #77
Okay :)

[2021-06-14 16:20] marizvi opened #78 "Add pre website loading animation"
We should add a big screen loading animation to make our website look more attractive.

Kindly assign me this issue.

[2021-06-14 16:42] marizvi opened #79 "Add Title box border animation"
In order to make our website look more attractive, I would like to add amazing box border animation to the mission title box.
Kindly allow me to work on this issue under LGMSOC'21.

[2021-06-14 16:47] manankohlii commented on #79
Okay @marizvi give it a try.

[2021-06-14 16:50] harshita0802goswami commented on #57
But I raised this issue first, why didn't you assign me this?

[2021-06-14 16:54] manankohlii commented on #57
@harshita0802goswami I didn't see your name earlier. No worries, you can work on it first. @Jagannath8 let @harshita0802goswami have a try. And always provide a description to your issue however simple it may sound.

[2021-06-14 16:56] harshita0802goswami commented on #57
Sure!! I will keep that in mind

[2021-06-14 17:03] harshita0802goswami commented on #57
The feature I was about to add has already been added.

[2021-06-14 17:04] manankohlii commented on #78
@marizvi give it a try.

[2021-06-14 17:05] manankohlii commented on #57
@Jagannath8 please elaborate what you wanted to work on.

[2021-06-14 17:21] Jagannath8 commented on #57
Yes, feature page icon added.

[2021-06-14 17:25] #57 closed

[2021-06-14 20:15] Amit-45 opened #80 "Create a Contact Us page"
## Describe the bug/feature
The contact Us page will ask the user to enter their credentials and will contain a message box that will be filled( by users )if they need to pass on any messages related to the project.

Please assign this issue to me under the LGMSOC'21 .

[2021-06-14 20:25] Amit-45 opened #81 "The official Space X website"
## Describe the feature

Extra button can be added in the footer of the website that would redirect us to the official SpaceX website .

[2021-06-14 20:25] Amit-45 commented on #81
Please assign this issue to me under LGMSOC'21

[2021-06-15 00:45] akitiashritha commented on #80
/assign

I would like to work on this issue could you please assign it to me @manankohlii

[2021-06-15 04:33] manankohlii opened #82 "Uniform button style and font"
## Describe the bug/feature
All buttons need to have a similar look including the border and font. Watch launch and View Article buttons may look different but should look attractive.

## To Reproduce
CSS Changes

[2021-06-15 04:35] manankohlii commented on #80
Hello @Amit-45 the website is super simple right now and if someone would really want to contact, they may use the socials given on the footer. Closing this.

[2021-06-15 04:35] #80 closed

[2021-06-15 04:36] manankohlii commented on #81
Okay @Amit-45 give it a try.

[2021-06-15 06:01] Amit-45 commented on #81
/assign

[2021-06-15 10:29] harsh72835 commented on #82
I wanted to work on this issue.

[2021-06-15 10:41] manankohlii commented on #82
@harsh72835 go ahead

[2021-06-15 11:10] Aaradhana11 commented on #77
I would like to contribute on this issue.

[2021-06-15 15:35] manankohlii opened #84 "Make footer responsive"
## Describe the bug/feature
The footer is not responsive for bigger screens. See screenshot attached for reference. Footer should be at the bottom.

![Screenshot (6)](https://user-images.githubusercontent.com/43683368/122082182-a0c4ee00-cdb4-11eb-80c1-0cf20ecbabc4.png)

[2021-06-15 19:13] anushruti11 commented on #84
I want to work on this.

[2021-06-15 19:13] ShwetKhatri2001 commented on #84
@manankohlii I would like to work on this issue during LGM-SOC contribution period.

[2021-06-15 19:21] #72 closed

[2021-06-15 19:21] manankohlii commented on #84
Okay @manankohlii go ahead.

[2021-06-15 19:27] jatinjain001 commented on #13
I would like to work on it

[2021-06-15 19:28] jatinjain001 commented on #11
I would like to work

[2021-06-16 05:00] Amit-45 opened #85 "Dark mode can be added"
## Expected behavior

User can now switch to dark mode whenever he wants

## To Reproduce

Have to add the code in HTML and CSS part to achieve the behaviour that is required .

[2021-06-16 05:02] Amit-45 commented on #85
Please assign me this issue under the LGMSOC'21

[2021-06-16 05:59] manankohlii commented on #85
Okay @Amit-45 give it a try.

[2021-06-16 07:13] ambivert-sam commented on #13
Hey, @manankohlii I'm a participant of LGMSOC'21 can I contribute to this issue . I'll be using HTML and CSS for this can you please assign it to me?

[2021-06-16 18:11] starrohan999 opened #89 "ADD: cursor : pointer property in search button."
## Describe the bug/feature
When we hover the search button it shows the effect but most important it cursor did not change to a pointer it remains the same.

## To Reproduce
simply add Cursor: pointer property to the .btn class in CSS code.

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following info

[2021-06-16 18:12] starrohan999 commented on #89
Hi @manankohlii, I am LGM Soc-21 participant and I would like to contribute to this project.
please assign it to me.

[2021-06-16 18:35] harshita9621 commented on #89
ii, I would like to work on this issue as LGM SOC'21 participant . Do assign me if possible. Thank You!

[2021-06-16 19:23] ishitakapoor26 opened #90 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:23] ishitakapoor26 commented on #90
@manankohlii pls assign me this issue.

[2021-06-16 19:24] ishitakapoor26 opened #91 "Add program section in readme.md"
Column to represent that this project is a part of LGM-Soc'21

[2021-06-16 19:25] ishitakapoor26 commented on #91
@manankohlii pls assign me this issue.

[2021-06-16 19:34] manankohlii commented on #89
@starrohan999 assigned.

[2021-06-16 19:35] manankohlii commented on #91
@ishitakapoor26 assigned.

[2021-06-17 07:53] #91 closed

[2021-06-17 07:54] #90 closed

[2021-06-17 08:17] manankohlii opened #93 "Logo for the website"
## Describe the bug/feature
Logo should be small but neat. Try to take inspiration from the SpaceX logo. This would be used to navigate to the home page of the website. You can use SpaceXMK as text to be added beisde/under the logo.

[2021-06-17 10:30] #77 closed

[2021-06-17 10:38] marizvi opened #94 "clear search bar after searching."
Hi,
While using the website I encountered one problem in it.
As soon as user searches any mission number then that mission number remains displayed in the search bar after search is complete, so if now user wants to search another mission number, he first have to clear the the previously entered number from the search bar then have to type new mission number in search box..

Here, I would like to

[2021-06-17 10:46] manankohlii commented on #94
Okay @marizvi go ahead.

[2021-06-17 11:27] #89 closed

[2021-06-17 18:11] nitishapiplani commented on #93
![s1](https://user-images.githubusercontent.com/83905949/122451154-726a2d00-cfc5-11eb-8213-3ef3b284caab.PNG)
is this logo okkay for you

[2021-06-17 19:09] manankohlii commented on #93
@nitishapiplani it does not go wiht the colour scheme of the website. And the text is wrong.

[2021-06-17 19:11] nitishapiplani commented on #93
can u plzz attach ss of site as i am unable to open it

[2021-06-17 19:13] manankohlii commented on #93
[Launch SpaceX](https://launchspacex.netlify.app/)
It is there in the README

[2021-06-17 19:23] nitishapiplani commented on #93
![s2](https://user-images.githubusercontent.com/83905949/122460250-8581fa80-cfcf-11eb-88ad-01c18565532f.PNG)
see this
![s2](https://user-images.githubusercontent.com/83905949/122460282-8dda3580-cfcf-11eb-97d7-18d43c54a4cd.PNG)

[2021-06-18 08:17] JahnaviKashyap19 commented on #93
Please assign me this issue.

[2021-06-18 08:19] JahnaviKashyap19 commented on #82
Please assign me this issue I want to work on it.

[2021-06-18 08:26] nitishapiplani commented on #93
/assign

[2021-06-18 08:43] JahnaviKashyap19 commented on #93
Please assign me this issue I want to work on this.

[2021-06-18 08:46] #79 closed

[2021-06-18 11:02] Ruchi-163 opened #98 "Modification on nav"
on hovering on nav bar content because of bright yellow colour background the text is not that clear so i can change it a bit and give like a short transition to make it little smooth.

Would you like to assign this to me under LGMSOC'21..?

Something like this.
![Screenshot 2021-06-18 at 4 31 41 PM](https://user-images.githubusercontent.com/78250934/122551519-b7887080-d052-11eb-88a2-328374ef8e4a.

[2021-06-18 11:11] Ruchi-163 commented on #93
How about this??
Simple and goes with the theme

![Screenshot 2021-06-18 at 4 40 04 PM](https://user-images.githubusercontent.com/78250934/122552389-e4895300-d053-11eb-9002-47a482b1ac8f.png)

[2021-06-18 11:14] manankohlii commented on #93
@Ruchi-163 Can you make the text on the right side of the rocket, and use SpaceXMK

[2021-06-18 11:16] manankohlii commented on #98
Okay go ahead @Ruchi-163

[2021-06-18 11:26] Ruchi-163 commented on #93
Something like this?

![Screenshot 2021-06-18 at 4 55 49 PM](https://user-images.githubusercontent.com/78250934/122554032-10a5d380-d056-11eb-8f0f-c038567d3678.png)

[2021-06-18 14:33] payaldutta commented on #85
If no one is working on it, I would like to work on this issue under LGMSOC'21.
Do assign @manankohlii
Thank You.

[2021-06-18 15:02] Ruchi-163 opened #100 "Logo Addition"
Logo for Website

![Screenshot 2021-06-18 at 4 55 49 PM](https://user-images.githubusercontent.com/78250934/122580992-317d2180-d074-11eb-8db4-9cb780552df0.png)

[2021-06-18 15:02] #98 closed

[2021-06-18 15:03] #93 closed

[2021-06-18 15:04] manankohlii commented on #100
@Ruchi-163 yes this is good for now, this needs to be added to the website now. Do you want me to assign you? If possible message me on discord.

[2021-06-18 15:10] Ruchi-163 commented on #100
Sure
Please assign this to me.
i will add it to the website.

[2021-06-19 06:17] #94 closed

[2021-06-19 09:17] #100 closed

[2021-06-19 10:12] manankohlii opened #102 "Nav bar responsive"
## Describe the bug/feature
Nav bar should be like this only on smaller screen resolutions. Needs to be a transparent nav bar on bigger screens like here. On top above the search bar and on the right side of the website, three options Launches, Cores and Rockets need to be adjacent.
![Screenshot (20)](https://user-images.githubusercontent.com/43683368/122638855-796b6b00-d0ab-11eb-82f0-be55a65f2dce

[2021-06-19 11:42] Shaishav0507 opened #103 "Automatic Updation of Footer Copyright Year"
## Describe the bug/feature

Hey @manankohlii
I would like to make changes in the footer copyright year, where it will automatically update itself, no need to change everytime.
Please assign it to me.
Thanks

## To Reproduce

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message a

[2021-06-19 15:41] manankohlii commented on #103
@Shaishav0507 go ahead.

[2021-06-19 18:07] jigar-sable commented on #102
Please assign me this issue.

[2021-06-19 18:10] manankohlii commented on #102
@jigar-sable assigned.

[2021-06-20 03:17] harshita9621 commented on #85
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-20 06:35] Shaishav0507 opened #105 "Error in the step 6 of contribution Guidelines"
## Describe the bug/feature

Hey @manankohlii
There is a error in the step 6 of contribution guidelines.
The repo main branch is master not main.
Please assign it to me.
Thanks.

It should be master instead of main

## To Reproduce

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error me

[2021-06-20 06:39] #103 closed

[2021-06-20 06:40] manankohlii commented on #105
@Shaishav0507 make a PR directly. Closing.

[2021-06-20 06:40] #105 closed

[2021-06-20 06:41] manankohlii commented on #85
@Amit-45 hello, are you working on this issue? How long will it take?

[2021-06-20 14:13] Amit-45 commented on #85
@manankohlii, My semester exams are going on. So, I will work on this issue from this Tuesday. Pls give me some time.

[2021-06-20 14:14] Amit-45 commented on #85
I will try to solve the issue as soon as possible .

[2021-06-20 17:30] tjanhvi opened #109 "Update the footer design."
## Describe the bug/feature

Want to add some some things to footer design..
## To Reproduce

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following information):

- OS:
- Browser:

## Additional context

A

[2021-06-21 04:43] harshita9621 commented on #109
Hi,I would like to work on this issue.

[2021-06-21 06:55] #102 closed

[2021-06-21 06:57] manankohlii commented on #109
@tjanhvi go ahead.

[2021-06-21 09:20] tjanhvi commented on #109
okay :)
Please Mention the tag ...........

[2021-06-21 15:14] manankohlii opened #112 "Removing insecure links"
## Describe the bug/feature
These links need to be substituted in index.html with secure ones. Should not affect the website layout. See ss attached for reference.
![Screenshot (25)](https://user-images.githubusercontent.com/43683368/122785837-8ed9c400-d268-11eb-8df4-8420939a071d.png)

[2021-06-21 17:51] Albert-Jokelin commented on #112
Hey! Can I work on this issue?

[2021-06-21 17:58] manankohlii commented on #112
Sure @Albert-Jokelin

[2021-06-22 11:51] ShwetKhatri2001 opened #114 "Adding Contact Us page including sending email functionality"
## Describe the bug/feature
- We can have a contact us page , where user can send a message/feedback including some personal details
- A message  from user can be sent to app publisher via email  and also we can send a 'thanks you email' to sender.

@manankohlii  I would like to work on this issue under LGM-SOC.

[2021-06-22 14:55] tjanhvi commented on #84
I would like to work on this issue. Please assign me this issue.........

[2021-06-22 17:11] manankohlii commented on #84
@tjanhvi assigned.

[2021-06-22 18:59] supzi-del opened #115 "Mission patch image link expired on homepage"
## Describe the bug/feature
The link for the mission 1 on homepage no longer exists.

## To Reproduce

A proper link to image should be provided.

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the error message and/or exception traceback).

## Environment (please complete the following info

[2021-06-22 18:59] supzi-del commented on #115
I would like to work on this under LGMSOC.

[2021-06-23 06:05] manankohlii commented on #115
@supzi-del it is working fine for me. Try pulling the latest changes. Closing this.

[2021-06-23 06:05] #115 closed

[2021-06-23 07:06] marizvi opened #117 "Add 3D hover effects to detail_boxes"
Hi,
Detail boxes of information related to each mission is quite boring due to its non dynamic character..
I do have a very nice 3D effect for boxes of Mission No. ,Launch Year, Rocket Name, Launch Site boxes which will make our website look more attractive and dynamic ..
Kindly allow  me to work on this issue under LGM SOC'21..

[2021-06-23 09:06] manankohlii commented on #117
Okay @marizvi go ahead.

[2021-06-24 07:52] kumarishalini6 opened #119 "Custom scrollbar"
## Describe the bug/feature
custom scroll bar for the page

@manankohlii  please assign me

[2021-06-24 07:53] kumarishalini6 opened #120 "Scroll to top"
## Describe the bug/feature
I want to make scroll to top button

@manankohlii please assign me this issue

[2021-06-24 08:15] harshita9621 commented on #120
Please assign me this issue

[2021-06-24 08:53] manankohlii commented on #120
@kumarishalini6 go ahead.

[2021-06-24 08:53] manankohlii commented on #119
@kumarishalini6 okay give it a try.

[2021-06-24 10:30] kumarishalini6 opened #123 "chatbot"
## Describe the bug/feature
I want to make a chatbot

@manankohlii can i work on this issue

[2021-06-24 10:37] #120 closed

[2021-06-24 10:38] manankohlii commented on #123
@kumarishalini6 this feature is not required at the moment. Closing.

[2021-06-24 10:38] #123 closed

[2021-06-24 10:40] #112 closed

[2021-06-24 10:41] #78 closed

[2021-06-24 10:59] kumarishalini6 opened #124 "fixed navbar"
## Describe the bug/feature
I want to fixed navbar at top and when we slide down the color will changed

@manankohlii can i work on this issue

[2021-06-24 11:35] manankohlii commented on #124
Okay @kumarishalini6 go ahead.

[2021-06-24 15:48] marizvi opened #125 "Add Text Animation"
Hi,
I would like to add typewriter text animation effect to the mission title, to look it more dynamic.
Kindly assign me this issue under LGMSOC'21...

[2021-06-26 05:24] #124 closed

[2021-06-26 09:55] nitishapiplani commented on #13
hey if issue is not yet resolved assign to me

[2021-06-26 09:58] nitishapiplani opened #128 "rocket page"
as per now rocket button on nav bar is not redirecting to any page i would like to make a page and ridirect that button there

[2021-06-26 12:26] harishpansari commented on #128
I am interested in issue but I don't understand what you want changes.

[2021-06-26 12:27] nitishapiplani commented on #128
You are participant or mentor

[2021-06-26 13:00] harishpansari commented on #128
participant

[2021-06-26 14:45] #13 closed

[2021-06-26 14:47] manankohlii commented on #128
@nitishapiplani the page for that is yet to be added. Closing this.

[2021-06-26 14:47] #128 closed

[2021-06-26 16:10] #119 closed

[2021-06-27 09:09] skpandey885 commented on #109
Hey Is This Still Open? If It is then Please Assign This Issue To Me Under LGMSoC'21!

[2021-06-27 09:10] skpandey885 commented on #84
Hey Is This Still Open? If It is still Open then Please Assign This Issue To Me Under LGMSoC'21!

[2021-06-27 09:10] skpandey885 commented on #82
Please Assign This Issue To Me Under LGMSoC'21!

[2021-06-27 09:14] skpandey885 opened #129 "A Round Button Can Be Added !"
NEW FEATURE-
A Round Button Can Be Added At Right Bottom Which Will Allow Users To Go To The Top Of the Particular Page!
Example: The Image Below!
<img width="70" alt="Screenshot 2021-06-27 at 2 43 37 PM" src="https://user-images.githubusercontent.com/78532081/123539191-11292300-d756-11eb-9688-ac2d72848e86.png">

[2021-06-27 09:16] skpandey885 commented on #129
@manankohlii Sir Can I Do It?

[2021-06-27 09:20] #129 closed

[2021-06-27 09:23] skpandey885 commented on #125
Hey Can You Assign This Issue To Me Under LGMSoC

[2021-06-27 12:19] #82 closed

[2021-06-27 20:43] sejalvasan commented on #81
Can I work on this issue under LGMSOC?

[2021-06-28 08:00] #81 closed

[2021-06-28 19:51] marizvi opened #130 "Add Animation to navbar button (in mobile mode)"
Hi,
Whenever we switch to non-desktop view, our navbar get collapsed and hidden, along with it a button also appears which allows us to expand or collapse navigation bar. And this button contains no animation in it which makes it quite static.

Here, In this issue I would like to add some extra animation to that button itself, so that it may look more dynamic and hence enhance the operation of our

[2021-06-29 18:11] shivamsingh124 opened #131 "Mentor Role"
Hello manan,
I am shivam got an opportunity to contribute as a mentor in this project can we have a chat over LinkedIn id - shivamsingh12 about my Role and my task.
please Provide me slack link and discord link for this particular project.

[2021-06-29 20:23] tjanhvi commented on #109
Hey, i'm doing this

[2021-06-30 17:08] RituCs commented on #14
I would like to work on this issue if no one is working on this.

[2021-06-30 17:18] srisatya1197 opened #132 "Footer icons are small"
The icons at the footer section are too small would like to increase them.
![SpacexMK - Google Chrome 30-06-2021 22_45_48](https://user-images.githubusercontent.com/78905067/124003974-3091ab80-d9f5-11eb-845a-b7c84189ab06.png)

[2021-06-30 19:37] yashvidas commented on #131
Hello manan, yashvi here.
Please do provide me with mentor excess

[2021-07-01 03:55] manankohlii commented on #132
Okay @srisatya1197 go ahead. Make sure you do this only for desktop view and don't make them too big.

[2021-07-01 03:56] manankohlii commented on #14
Issue resolved. Closing.

[2021-07-01 03:56] #14 closed

[2021-07-01 03:57] #109 closed

[2021-07-01 03:58] manankohlii commented on #125
@marizvi do you still want to work on this?

[2021-07-01 03:58] manankohlii commented on #130
@marizvi assigned.

[2021-07-01 03:59] marizvi commented on #125
Yes, obviously.
I was waiting for your response only to start work on it

[2021-07-01 03:59] #114 closed

[2021-07-01 04:01] manankohlii commented on #125
@marizvi assigning.

[2021-07-01 05:46] ij007 opened #133 "More detailed version of site with better color theme"
first color theme doesn't go with SpaceX. I would like to change that also I would like to add more descriptive version of mission , I know you already have linked the article for more descriptive version but having it in front of eye would make it more user friendly.
Please assign this task to me.

[2021-07-01 09:19] shivamsingh124 commented on #133
Explain what description are you going to add?

[2021-07-01 09:19] #131 closed

[2021-07-01 09:27] nagasaisriya opened #134 "Image not visible"
## Describe the bug/feature
Mission patch image is not visible
![2021-07-01 (2)](https://user-images.githubusercontent.com/63009472/124100913-7f365880-da7c-11eb-9d19-62692b0ed842.png)

[2021-07-01 10:32] srisatya1197 commented on #132
@manankohlii ok.

[2021-07-02 10:45] ArihantJain123 commented on #84
I want to work on this if it is still open

[2021-07-02 10:46] ArihantJain123 commented on #132
I want to work on this issue

[2021-07-02 11:58] ArihantJain123 opened #136 "Transparent Header Section"
## Describe the bug/feature
I would like to change a header section I would like to become a header section transparent .After, convert a header section transparent make it more user friendly and looking better.
Please assign this task to me

[2021-07-02 13:15] manankohlii commented on #84
@ArihantJain123 assigned.

[2021-07-02 13:30] srisatya1197 commented on #132
@ArihantJain123 Thank you for your interest. I'm working on this. I should have made pr yesterday due to exams I had to stop by.

[2021-07-02 16:10] shivamsingh124 commented on #136
Okay arihant you can go ahead with this. The deadline will be 5th of July for this.

[2021-07-02 16:43] ArihantJain123 commented on #136
ohk thanks

[2021-07-03 05:43] subhasmitapradhan commented on #131
Hello Manas, please provide me the mentor role and task.

[2021-07-03 07:11] ArihantJain123 commented on #136
Shivam, I am already generate PR for this issue and already my PR view by Manan Kholi.

[2021-07-03 07:39] tjanhvi opened #138 "Give a background to the navigation bar"
Please assign me this issue.

[2021-07-03 10:01] harishpansari commented on #138
I would like to work on this issue. Please assign me. under LGM-SOC21.

[2021-07-03 10:02] manankohlii commented on #138
@tjanhvi assigned.

[2021-07-03 10:03] #134 closed

[2021-07-04 18:49] pranjay-poddar opened #141 "Sound effect"
## Describe the feature

Would like to add sound effects to website.

## Expected behavior

Sound effects on animations and other activities which gives a great appealing effect to website.

Please assign this task to me under DevIncept SOC

[2021-07-05 08:08] manankohlii commented on #141
@pranjay-poddar go ahead.

[2021-07-05 10:03] ROHAN842 opened #143 "Develop a Contact Form with Confirmation message"
## Describe the bug/feature
I would like to develop a contact form for the website, also upon successful submission of contact form, user would be sent to a fresh new page on clicking Send button where the message is displayed as "Thank you We received your submission , Return ". Also on clicking to Return button of that fresh new page, user is redirected to home page.

I would like to work on thi

[2021-07-05 10:04] ROHAN842 commented on #143
Hey @manankohlii kindly assign this issue to me under LGMSOC

[2021-07-05 13:38] srisatya1197 commented on #132
@manankohlii  Just I want to clear that I'll be inactive on github for a week(sem exams). I want to tell that if it's ok then will complete this after a week.

[2021-07-06 04:46] jyothi-k-g opened #144 "Designing about page"
About page includes all the details of the spacex organization. Along with the details of upcoming missions.

[2021-07-06 05:33] jyothi-k-g commented on #144
@manankohlii  Can you please assign me this issue under LGMSOC

[2021-07-07 14:25] ROHAN842 commented on #143
@manankohlii please assign issue to me as the end date for LGMSOC program is 10th July and I need to finish this issue also needs to make a PR before 10th so that it can be easily merged

[2021-07-07 14:27] manankohlii commented on #143
Hey @ROHAN842 this feature is not needed right now, we can add this later. And I believe the final date of LGMSOC has been shifted to August 10.

[2021-07-07 14:27] #143 closed

[2021-07-08 10:48] manankohlii commented on #144
Hello @jyothi-k-g this feature is not needed yet. We can have it in the future. Closing this.

[2021-07-08 10:48] #144 closed

[2021-07-09 04:26] #132 closed

[2021-07-09 06:50] akashchouhan16 opened #146 "Footer contact-icon hover animation"
## Footer contact icons on hover
## To Reproduce
* `Visual Component Issue`: Can be reproduced by simply running the application via `live server` or any similar tool.

## Expected behavior
* Contact Icons have a fill colour effect on `hover`. The colours can be improved to match the overall colour scheme of the application.

## Logs

`Not applicable.`

## Environment (please complete the followin

[2021-07-10 03:57] Amrutha1101 commented on #146
I would like to work on this issue under LGM-SOC

[2021-07-10 06:54] akashchouhan16 commented on #146
@Amrutha1101 Sure. It has been assigned to you.

[2021-07-10 08:51] Amrutha1101 commented on #146
![Screenshot (145)](https://user-images.githubusercontent.com/63070698/125157687-12147880-e18a-11eb-94af-c234738aa46f.png)
May I know if any changes to be made?

[2021-07-10 14:11] akashchouhan16 commented on #146
@Amrutha1101 The colour seems to match now but there's a `blue` underline with every icon. So, you can try and make a few more enhancement tweaks with the footer to fix that and then generate a `PR`.

[2021-07-11 05:57] #146 closed

[2021-07-11 10:40] krazyni9e opened #149 "Make Changes in the UI"
## Describe the bug/feature

I want to improve the color scheme of the website and I want to make the area displaying information a bit more attractive . I also want to change the dimensions of the footer and its content .
## To Reproduce

## Expected behavior

A clear and concise description of what you expected to happen.

## Logs

If applicable, add logs to help explain your problem (e.g. the e

[2021-07-12 08:53] AnirudhPanda opened #150 "[ Console ] CORS Error in Console"

[2021-07-13 05:39] subhasmitapradhan commented on #149
Sure, go ahead with the issue.

[2021-07-13 13:56] pranjay-poddar commented on #141
@manankohlii Added sound effects and animations.

[2021-07-17 19:59] #141 closed

[2021-07-28 22:19] aashimawadhwa opened #156 "scrollbar is visible in the preloader"
Scrollbar is visible in the  preloader screen ideally it should not be .
![Screenshot from 2021-07-29 03-43-18](https://user-images.githubusercontent.com/73706697/127403507-0536bdb0-c606-4ef9-b779-c606f727b988.png)

please assign this issue to me under LGMSOC'21

[2021-08-01 15:40] inimitable034 opened #157 "add a new feature of floating split-on-hover ball"
## Describe the bug/feature
This would include a floating ball which on hover would split into 3 different segments showing 3 social profiles with hover effect.
Have a look at the animation shown below to describe the working of the feature.

- OS:
- Browser:

## Additional context

Add any other context about the problem here.

https://user-images.githubusercontent.com/71227590/127776809-9292a455

[2021-08-01 15:41] inimitable034 commented on #157
Please assign this issue to me under LGM SOC 2021
as the left time is less for the Program

[2021-08-02 14:07] aditya687 commented on #84
Can I work on this issue @manankohlii ?